body {
    background-color: #3940401b;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color:#12202e; 
    ;
    margin: auto;
    margin-top: 75px;
    border-radius: 30px;
}

.screen {
    width: 350px;
    height:100px ;
    margin-top: 20px;
    background-color: rgba(125,140, 115);
    text-align: right;
}

input {
   
    height:75px ;
    background-color: rgb(125,140, 115);
    border: 0;
    text-align: right;
    font-size: 30px;
    color: black;

}

::placeholder {
    color: black;
    font-size: 50px;
    font-family: 'Calculator', sans-serif;
                                                
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.operator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttonset1, .buttonset2, .buttonset3, .buttonset4 {
    display:flex;
    background-color: #12202e;
    width: 400px;
    height: 70px;
    justify-content: center;
    
}

.button, .operator {
    width:70px;
    height: 50px;
    background-color: #535962;
    margin: 10px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 16px;
}

.operator {
    background-color: orangered;
}

#equal {
    background-color: rgb(47, 174, 132);
}

